.main-header {
  height: 400px;
  width: 100%;
  margin-top: 120px;
  color: white;
  background-color: #757ea1;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
