header {
  height: 400px;
  width: 100%;
  color: white;
  /* background-color: #4056a1; */
  background-color: hsl(44, 48%, 61%);
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
