nav {
  height: 120px;
  width: 100%;
  position: fixed;
  top: 0;
  color: white;
  background-color: #4056a1;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar-compose-textbox {
  margin: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-bar-compose-arrow {
  font-weight: bold;
  color: red;
}

.nav-bar-compose-write {
  font-weight: bold;
}

#nav-brand {
  font-family: 'Bungee', cursive;
  margin: 1.5em;
}
