/* section {
  width: 100%;
}

form {
  width: 100%;
  color: #545149;
  background-color: #f4f1ec;
  display: flex;
  flex-direction: column;
} */

/**/
.tweets-feed {
  width: 100%;
  padding: 1em 0.5em;
  color: #545149;
  background-color: #f4f1ec;
  border: 4px solid #545149;
  display: flex;
  flex-direction: column;
}

.tweets-feed-name {
  
}

.tweets-feed-body {
  border-bottom: 4px solid #545149;
}

.tweets-feed-text {
  margin: 1em 0.5em;
}

.tweets-feed-data {
  margin: 0.5em 0.75em 0 0.75em;
  font-size: 0.75em;
}
/**/

/* .compose-tweet-div {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

.compose-tweet-label {
  font-weight: bold;
}

.compose-tweet-textarea {
  height: 40px;
  margin: 10px 0;
  outline: none;
  border: none;
  border-bottom: 5px solid #545149;
  resize: none;
  background: transparent;
}

.compose-tweet-button {
  background-color: #4056a1;
  color: white;
  border: none;
}

#limit-exceed {
  color: red;
} */