.tweets-feed {
  width: 100%;
  margin: 1.5em 0 0 0;
  padding: 1em 0.5em;
  color: #545149;
  background-color: #f4f1ec;
  border: 4px solid #545149;
  display: flex;
  flex-direction: column;
  word-wrap: anywhere;
}

.tweets-feed:hover {
  box-shadow: 10px 10px #4057a183;
  text-shadow: 0 0 #444139;
  transform: translate(-0.2em, -0.2em);
  transition: 100ms;
}

.tweets-feed-user {
  margin: 10px;
}

.tweets-feed-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweets-feed-name {
  display: flex;
  align-items: center;
}

.tweets-feed-handle {
  padding-right: 0.5em;
  color: #4056a1;
  opacity: 0;
}

.tweets-feed:hover .tweets-feed-handle {
  opacity: 30%;
}

.tweets-feed-body {
  border-bottom: 4px solid #545149;
}

.tweets-feed-text {
  margin: 1em 0.5em;
}

.tweets-feed-data {
  margin: 0.5em 0.75em 0 0.75em;
  font-size: 0.75em;
  display: flex;
  justify-content: space-between;
}

.tweets-feed-flag {
  margin: 0.25em;
  color: #545149;
}

.tweets-feed-retweet {
  margin: 0.25em;
  color: #545149;
}

.tweets-feed-heart {
  margin: 0.25em;
  color: #545149;
}

.tweets-feed:hover .tweets-feed-retweet {
  color: #4056a1;
}

.tweets-feed:hover .tweets-feed-flag {
  color: #4056a1;
}

.tweets-feed:hover .tweets-feed-heart {
  color: #4056a1;
}
